body{
  text-align:center;
  background-color:#fa8072;
  
}

img{
  height: 250px;
  width:350px;
}
.section-style{
margin-right:25px;
    margin-left:25px;
    background-color:#ffe5b4;
    

}
.image-section{
    display:flex;
    justify-content:center;
}

div{
    margin-top:15px;
    
}